*,
*:before,
*:after {
    box-sizing: border-box; 
}

// Set site-wide default styles
body {
    font-size: 16px;
    font-family: $BODY-FONT-FAMILY;
    background-color: $BODY-BACKGROUND-COLOR;
    color: $BODY-FONT-COLOR;
}

// Set application container styles
.game-container {
    position: relative;
    z-index: 1;
    padding-bottom: 2em;
}

// Content modules used as wrapper for text and input elements
.content_module {
    color: #fff;
    max-width: 280px;
    margin: 1.5em auto 0 auto;
    padding: 0 1em;
}


// Default heading styles
h1 {
    font-size: 2.2em;
    margin-bottom: 0.3em;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 0.1em;
}
h3 {
    font-size: 1.2em;
    margin-bottom: 0.1em;
}
h4 {
    font-size: 1.1em;
    margin-bottom: 1em;
}
h5 {
    font-size: 1em;
    margin-bottom: 1em;
}
h6 {
    font-size: 0.8em;
    margin-bottom: 1em;
}

// Default input styles
input[type="text"] {
    font-size: 1.1em;
    font-family: inherit;
    background: $INPUT-BACKGROUND-COLOR;
    border: 1px solid $INPUT-BORDER-COLOR;
    border-radius: $INPUT-BORDER-SIZE;
    padding: 0.45em 0.8em;

    &:focus {
        outline: none;
        border: 1px solid $INPUT-BORDER-COLOR-FOCUS;
    }
}