// BASIC VARIABLES
$BODY-FONT-COLOR: #FFF;
$BODY-FONT-FAMILY: 'VT323', 'Helvetica', 'Arial' cursive;
$BODY-BACKGROUND-COLOR: #000;

// BUTTONS
$BUTTON-FONT-COLOR: #444;
$BUTTON-BACKGROUND-COLOR: $LIGHTNING-BLUE;
$BUTTON-BACKGROUND-COLOR-HOVER: $LIGHTNING-BLUE-DARKER;
$BUTTON-BORDER-COLOR: $LIGHTNING-BLUE-DARKER;
$BUTTON-BORDER-SIZE: 3px;

// INPUT FIELDS
$INPUT-BACKGROUND-COLOR: #FFF;
$INPUT-BORDER-COLOR: #FFF;
$INPUT-BORDER-COLOR-FOCUS: $LIGHTNING-BLUE-DARKER;
$INPUT-BORDER-SIZE: 3px;

// CARD
$CARD-BORDER-COLOR: $LIGHTNING-BLUE;
$CARD-SIDE-FRONT-COLOR: #000;
$CARD-SIDE-BACK-COLOR: $LIGHTNING-BLUE;
$CARD-FRONT-TEXT-COLOR: #fff;
$CARD-BACK-TEXT-COLOR: #000;
$CARD-MATCHED-TEXT-COLOR: rgba(255, 255, 255, 0.2);
$CARD-WIDTH: 20%;
$CARD-BORDER-WIDTH: 1px;
$CARD-ICON-FONT-SIZE: 2em;

// CARDBOARD
$CARDBOARD-BORDER-COLOR: $CARD-BORDER-COLOR;


// TIMER
$TIMER-COLOR: $LIGHTNING-BLUE;
$TIMER-HEIGHT: 8px;