
// CARD SETTINGS
$CARD-BORDER-COLOR: $LIGHTNING-BLUE;
$CARD-SIDE-FRONT-COLOR: #000;
$CARD-SIDE-BACK-COLOR: $LIGHTNING-BLUE;
$CARD-FRONT-TEXT-COLOR: #fff;
$CARD-BACK-TEXT-COLOR: #000;
$CARD-SOLVED-TEXT-COLOR: rgba(255, 255, 255, 0.3);

$CARDBOARD-BORDER-COLOR: $CARD-BORDER-COLOR;
