.button {

	width: 100%;
	background-color: $LIGHTNING-BLUE;
	border: none;
	border-radius: 3px;
	padding: 0.5em 0.4em;
	font-size: 1em;
	text-align: center;
	text-transform: capitalize;
	appearance: none;
	-webkit-appearance: none;

	&:hover {
		@include box-shadow(#fff 0 0 5px);
	}

	&:active {
		background-color: red;
	}

}