// Card styles
.card {
    position: relative;
    width: $CARD-WIDTH;
    height: 0;
    padding-bottom: $CARD-WIDTH;
    border: $CARD-BORDER-WIDTH solid $CARD-BORDER-COLOR;
    float: left;

    &:hover {
        cursor: pointer;
    }
}

// Set card inner elements dimensions
.card__outer-frame,
.card__inner-frame,
.card__side {
    width: 100%;
    height: 100%;
}

// Outer frame keeps perspective while flipping
.card__outer-frame {
    position: absolute;
    perspective: 1000;
}

// Inner frame makes transition for card flip
.card__inner-frame {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

// Set styles to front & back side
.card__side {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

// Front side visible before flipping
.card__side--front {
    color: $CARD-FRONT-TEXT-COLOR;
    z-index: 2;
    background-color: $CARD-SIDE-FRONT-COLOR;

}

// Back side hidden before flipping
.card__side--back {
    color: $CARD-BACK-TEXT-COLOR;
    transform: rotateY(180deg);
    background-color: $CARD-SIDE-BACK-COLOR;
}

// Position icons on front & back side
.card__icon {
    position: absolute;
    color: inherit;
    font-size: $CARD-ICON-FONT-SIZE;
    left: 50%;
    top: 50%;
    margin-top: -0.5em;
    margin-left: -50%;
    width: 100%;
    text-align: center;
}

// Position loader according to card icons
.card__loader {
    position: absolute;
    font-size: $CARD-ICON-FONT-SIZE;
    left: 50%;
    top: 50%;
    margin-top: -0.5em;
    margin-left: -50%;
    width: 100%;
    text-align: center;
}


// Special styles while card is flipped: show back side and hide front-side
.card--flipped__inner-frame {
    transform: rotateY(180deg);
}


// Special styles for matched card
.card--matched {
    background-color: transparent;
    @include box-shadow($CARD-BORDER-COLOR 0 0 10px inset);
}
.card--matched__outer-frame {
    background: transparent;
}
.card--matched__inner-frame {
    transform: rotateY(180deg);
}
.card--matched__side {
    background: transparent;
}
.card--matched__icon {
    color: $CARD-MATCHED-TEXT-COLOR;
}