.cardboard {
	max-width: 500px;
	margin: 0 auto;
}

.cardboard_outer {
	border: 8px solid $CARDBOARD-BORDER-COLOR;
    background: url("/images/totalrecall.jpg") no-repeat center center; 
    background-size: cover;
    margin: 0 0.8em;
}

.cardboard_inner {

    position: relative;
    width: 100.5%;

    @include box-shadow(#fff 0 0 20px);

    @include clearfix;
}