.user-details {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.user-details__input {
	width: 100%;
	margin-bottom: 0.5em;
}

.user-details__button {

}

.user-details__warning {
	display: block;
	color: red;
	margin-top: -0.3em;
	margin-bottom: 0.8em;
}