<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Total Recall - The Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Total Recall" />

    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png" />

    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>

  <body ng-app="totalrecallApp">

    <div class="game-container" ng-view=""></div>

    <div ng-controller="OverlayCtrl" class="overlay" ng-class="className">
        
        <section class="overlay__content content_module">
            <h1 ng-if="title" class="overlay__title">{{title}}</h1>
            <h2 ng-if="text" class="overlay__text">{{text}}</h2>
            <img ng-if="image" ng-src="{{image}}" alt="Total Recall" class="overlay__image" />
            <input ng-if="cta" ng-click="ctaClicked(cta.event)" value="{{cta.text}}" class="button overlay__button" />
        </section>

    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/factories/totalRecallApi.js"></script>
    <script src="scripts/factories/icons.js"></script>
    <script src="scripts/factories/gameInfo.js"></script>
    <script src="scripts/factories/highscores.js"></script>
    <script src="scripts/factories/timer.js"></script>
    <script src="scripts/filters/scoreAsString.js"></script>
    <script src="scripts/controllers/game.js"></script>
    <script src="scripts/controllers/newGame.js"></script>
    <script src="scripts/controllers/overlay.js"></script>
    <!-- endbuild -->

</body>
</html>








