<section class="content_module">
	<h1>Total Recall</h1>
	<h2>"If I'm not me, then who the hell am I?"</h2>
</section>

<section class="user-details content_module">

	<form name="newGameForm">
		
	    <input type="text" name="inputName" ng-model="userName" placeholder="Name" required ng-trim="false" class="user-details__input" >
	    <span ng-if="submitted" class="user-details__warning" ng-show="newGameForm.inputName.$error.required">Name required!</span>

	    <input type="email" name="inputEmail" ng-model="userEmail" placeholder="Email" required ng-trim="false" class="user-details__input" >
	    <span ng-if="submitted" class="user-details__warning" ng-show="newGameForm.inputEmail.$error.required">Email required!</span>
	    <span ng-if="submitted" class="user-details__warning" ng-show="newGameForm.inputEmail.$error.email">Email not valid!</span>

	    <input type="button" value="Start Game" ng-click="startGame()" class="button button_expand user-details__button" />

    </form>
</section>

<section class="content_module">
	
	<h2>Rules</h2>

	<ul class="content_list">
		<li>You start with 10000 points</li>
		<li>Find a pair and go to the next level</li>
		<li>Higher Level means less time</li>
		<li>If your time is gone you loose</li>
	</ul>

</section>

<section class="content_module" ng-if="highscores">
	
	<h2>Highscores</h2>

	<ul class="content_list">
		<li ng-repeat="score in highscores | orderBy:'-score' | limitTo:5" >
			{{score.score | scoreAsString}} - {{score.name}}
		</li>
	</ul>

</section>