<section class="content_module">
	<h1>Total Recall</h1>
	<h2>"If I'm not me, then who the hell am I?"</h2>
</section>

<section class="user-details content_module">
    <input type="text" name="input" ng-model="userName" required ng-trim="false" class="user-details__input" >
    <br />
    <input type="text" name="input" ng-model="userEmail" required ng-trim="false" class="user-details__input" >
    <br />
    <input type="button" value="Start Game" ng-click="startGame()" class="button user-details__button" />
</section>

<section class="rules content_module">
	
	<h2>Rules</h2>

	<ul class="rules__list">
		<li>You start with 10000 points</li>
		<li>Find a pair and go to the next level</li>
		<li>Higher Level means less time</li>
		<li>Loose time - loose points</li>
	</ul>

</section>